# copy to .env and fill properly

DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DBNAME?sslmode=require"


# Stripe
STRIPE_SECRET_KEY=sk_test_xxx
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

# Maps
NEXT_PUBLIC_MAPBOX_TOKEN=pk.xxx
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=xxx

# Firebase FCM
FIREBASE_SERVER_KEY=xxx
FIREBASE_PROJECT_ID=xxx

# Auth
JWT_SECRET=replace_me
